<a href="https://colab.research.google.com/github/Jpalaciosbaquero/Inteligencia-Artificial-/blob/main/Taller_IA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Inteligencia artificial- *José Daniel Palacios Baquero*
## Objetos en Python

1.  ¿Cuál de los siguientes NO es un tipo de objeto básico en Python?
Respuesta: D, función matematica
2.  En Python, los valores True y False pertenecen al tipo:
Respuesta: B, Boleano
3.  ¿Cuál de los siguientes objetos se considera un tipo numérico en Python?
Respuesta: A, int, float y complex
4.  ¿Qué imprime este código?

In [ ]:
x = (1, 2, 3)
print(x[1])

Respuesta: B

5.  ¿Cuál es el error en este código?

In [ ]:
t = (1, 2, 3)
t[0]=10

Respuesta: C, las tuplas son inmutables

6.  ¿Qué resultado produce?

In [ ]:
s = {1, 2, 2, 3, 3}
print(s)

Respuesta: B, {1, 2, 3}

7.  ¿Cuál es la salida?

In [ ]:
palabra = "Mundo"
print(palabra[1:4])

Respuesta: C, "und"

8.  ¿Qué imprime?

In [ ]:
lista = [10, 20, 30]
lista.append(40)
print(lista)

Respuesta: B, [10, 20, 30, 40]

9. ¿Qué ocurre?

In [ ]:
dic = {"a": 1, "b": 2}
print(dic["c"])
#Llave C no existe

Respuesta: C, Error

10.  Elige la opción correcta para obtener el valor 3 de este diccionario:

In [ ]:
d = {"x": 1, "y": 2, "z": 3}
d["z"]

Respuesta: D, d["z"]

11.  ¿Qué devuelve este código?

In [ ]:
print(type(3.0))

Respuesta:B, float

12.  ¿Cuál es el resultado?

In [ ]:
x = [1, 2, 3]
y = x
y.append(4)
print(x)

Respuesta: B, [1, 2, 3, 4]

13.  El valor de resultado será:

In [ ]:
numeros = ["10", "20", "30"]
resultado = ",".join(numeros)
resultado

Respuesta: B, '10,20,30'

14.  Completa el código para convertir un conjunto a lista:

In [ ]:
s = {1, 2, 3}
list(s)
s

Respuesta: A, list(s)

15.  ¿Cuál es la salida?

In [ ]:
cadena = "Hola"
print(cadena * 3)

Respuesta: B, "HolaHolaHola"

16.  ¿Qué valor imprime?

In [1]:
lista = [10, 20, 30]
print(lista[-1])

30

Respuesta: C, 30

17.  ¿Qué contendrá precios después de ejecutar el código?

In [ ]:
precios = [1200, 500, 3400, 800]
precios.sort()
precios

Respuesta: A,[500, 800, 1200, 3400]

¿Cuál es el error?

In [ ]:
conjunto = {1, 2, 3}
print(conjunto[0])
#No tiene un orden

Respuesta:A, Los conjuntos no son indexables

19.  ¿Qué devuelve?

In [ ]:
len({"a": 1, "b": 2, "c": 3})

Respuesta:B, 3

20.  ¿Qué resultado da?

In [ ]:
lista = [1, 2, 3]
print(lista * 2)

Respuesta: A, [1, 2, 3, 1, 2, 3]

21.  ¿Qué ocurre?

In [ ]:
d = {"a": 1}
d["a"] = 100
print(d)

Respuesta: B, {"a": 100}

22.  ¿Qué imprime?

In [ ]:
print("python".upper())

Respuesta: A, PYTHON

In [ ]:
s = {1, 2, 3}
s.add(5)
s

Respuesta: A, add

24.  ¿Cuál es la salida?

In [2]:
d = {"x": 10, "y": 20}
print("x" in d)

True

Respuesta: B,True

25.  ¿Qué imprime?

In [ ]:
print([1, 2, 3] == [1, 2, 3])

Respuesta: A, True

26.  ¿Qué se imprimirá en pantalla?

In [3]:
for i in range(5):
 print(i)
#se le agrego

0
1
2
3
4

Respuesta: C, 0 1 2 3 4

27.  ¿Qué ocurre?

In [ ]:
s = {1, 2, 3}
s.remove(4)
#No existe el 4, remove 4

Respuesta:C, Lanza un error

28.  ¿Qué contendrá la variable paises?

In [ ]:
texto = "Colombia México Perú Chile"
paises = texto.split()
paises

Respuesta: B, ["Colombia", "México", "Perú", "Chile"]

29.  ¿Qué resultado produce valores?

In [ ]:
ventas = "1000;2500;3200;4500"
valores = ventas.split(";")
valores

Respuesta: A,["1000", "2500", "3200", "4500"]

31.  ¿Qué contendrá empresas después de ejecutar el código?

In [ ]:
empresas = ["Amazon", "Google", "Microsoft", "Apple"]
empresas.sort()
print(empresas)

Ninguna es correcta, es ['Amazon', 'Apple', 'Google', 'Microsoft']
pero la mas cercana es A

32.  ¿Qué contendrá la lista numeros?

In [ ]:
numeros = list(range(2, 10, 2))
numeros

Respuesta: A, [2, 4, 6, 8]